a,
.tp-caption a.btn:hover {
  color: rgba(46, 69, 107, 0.9);
}
.top-nav-collapse {
  background: rgba(46, 69, 107, 0.9);
}
.navbar-custom ul.nav ul.dropdown-menu li a:hover {
  color: rgba(46, 69, 107, 0.9);
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background-color: rgba(46, 69, 107, 0.9);
}
.widget-avatar .avatar:hover {
  border: 5px solid rgba(46, 69, 107, 0.9);
}
.bg-skin {
  background: rgba(46, 69, 107, 0.9);
}
.bg-light {
  background: rgba(163, 175, 194, 0.2);
}
form#contact-form input:focus,
form#contact-form select:focus,
form#contact-form textarea:focus {
  border-color: rgba(46, 69, 107, 0.9);
}
footer {
  background-color: rgba(46, 69, 107, 0.9);
}
.btn-skin {
  color: #fff;
  background-color: rgba(46, 69, 107, 0.9);
  border-color: rgba(46, 69, 107, 0.9);
}
