a,
.tp-caption a.btn:hover {
  color: rgba(46, 69, 107, 0.9);
}
.top-nav-collapse {
  background: rgba(46, 69, 107, 0.9);
}
.navbar-custom ul.nav ul.dropdown-menu li a:hover {
  color: rgba(46, 69, 107, 0.9);
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background-color: rgba(46, 69, 107, 0.9);
}
.widget-avatar .avatar:hover {
  border: 5px solid rgba(46, 69, 107, 0.9);
}
.bg-skin {
  background: rgba(46, 69, 107, 0.9);
}
.bg-light {
  background: rgba(163, 175, 194, 0.2);
}
form#contact-form input:focus,
form#contact-form select:focus,
form#contact-form textarea:focus {
  border-color: rgba(46, 69, 107, 0.9);
}
footer {
  background-color: rgba(46, 69, 107, 0.9);
}
.btn-skin {
  color: #fff;
  background-color: rgba(46, 69, 107, 0.9);
  border-color: rgba(46, 69, 107, 0.9);
}
body {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", "Microsoft Yahei", "SimHei", Helvetica, Arial, sans-serif;
  color: #666;
  background-color: #fff;
}
#bg_music {
  position: fixed;
  bottom: 5%;
  left: 2%;
  z-index: 1000;
  width: 32px;
  height: 32px;
}
@keyframes rot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
p {
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 1.6em;
}
p.lead {
  font-weight: 600;
}
a {
  color: #28c3ab;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #176e61;
}
.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.navbar-brand {
  font-weight: 700;
}
.navbar-brand {
  height: 40px;
  padding: 5px 15px;
  font-size: 18px;
  line-height: 1em;
}
.navbar-brand h1 {
  color: #fff;
  font-size: 20px;
  line-height: 40px;
}
.navbar-brand:focus {
  outline: 0;
}
.nav.navbar-nav {
  background-color: rgba(184, 199, 224, 0.4);
}
.navbar-custom.top-nav-collapse .nav.navbar-nav {
  background-color: rgba(0, 0, 0, 0);
}
.navbar-custom ul.nav li a {
  font-size: 12px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  font-weight: 700;
}
.navbar-custom.top-nav-collapse ul.nav li a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #fff;
}
.navbar-custom ul.nav ul.dropdown-menu {
  border-radius: 0;
}
.navbar-custom ul.nav ul.dropdown-menu li {
  border-bottom: 1px solid #f5f5f5;
}
.navbar-custom ul.nav ul.dropdown-menu li a {
  padding: 10px 20px;
}
.navbar-custom ul.nav ul.dropdown-menu li a:hover {
  background: #fefefe;
}
.navbar-custom ul.nav ul.dropdown-menu li:last-child {
  border-bottom: none;
}
.navbar-custom.top-nav-collapse ul.nav ul.dropdown-menu li a {
  color: #666;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
  outline: 0;
  background-color: rgba(222, 228, 237, 0.2);
}
/*
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}
*/
.navbar-toggle {
  padding: 4px 6px;
  font-size: 14px;
  color: #fff;
}
.navbar-toggle:focus,
.navbar-toggle:active {
  outline: 0;
}
/* loader */
#preloader {
  background: #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}
#loaderInner {
  height: 60px;
  left: 50%;
  margin: -50px 0 0 -50px;
  position: absolute;
  top: 50%;
  width: 60px;
}
@keyframes boxSpin {
  0% {
    transform: translate(-10px, 0px);
  }
  25% {
    transform: translate(10px, 10px);
  }
  50% {
    transform: translate(10px, -10px);
  }
  75% {
    transform: translate(-10px, -10px);
  }
  100% {
    transform: translate(-10px, 10px);
  }
}
@keyframes shadowSpin {
  0% {
    box-shadow: 10px -10px #39cccc, -10px 10px #ffdc00;
  }
  25% {
    box-shadow: 10px 10px #39cccc, -10px -10px #ffdc00;
  }
  50% {
    box-shadow: -10px 10px #39cccc, 10px -10px #ffdc00;
  }
  75% {
    box-shadow: -10px -10px #39cccc, 10px 10px #ffdc00;
  }
  100% {
    box-shadow: 10px -10px #39cccc, -10px 10px #ffdc00;
  }
}
@keyframes rotation {
  0% {
    transform: scale(3);
  }
  100% {
    transform: scale(0.2);
    opacity: 0.1;
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: scale(3);
  }
  100% {
    transform: scale(0.2);
    opacity: 0.1;
  }
}
#load {
  z-index: 9999;
  opacity: 0.75;
  font-size: 26px;
  width: 234px;
  height: 14px;
  position: absolute;
  top: 40%;
  margin: 0 auto 0 auto;
  padding-bottom: 7px;
  left: 0;
  right: 0;
  animation: rotation 1.5s linear;
  animation-fill-mode: forwards;
  -webkit-animation: rotation 2s linear;
  -webkit-animation-fill-mode: forwards;
}
/* misc */
hr {
  margin-top: 10px;
}
hr.border-top {
  border-top: 3px solid rgba(46, 69, 107, 0.9);
}
@keyframes extention {
  0% {
    width: 100%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes extention {
  0% {
    width: 100%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 100%;
  }
}
@-ms-keyframes extention {
  0% {
    width: 100%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes extention {
  0% {
    width: 100%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 100%;
  }
}
.exten {
  -webkit-animation-name: extention;
  animation-name: extention;
}
.marginbot-0 {
  margin-bottom: 0 !important;
}
.marginbot-10 {
  margin-bottom: 10px !important;
}
.marginbot-20 {
  margin-bottom: 20px !important;
}
.marginbot-30 {
  margin-bottom: 30px !important;
}
.marginbot-40 {
  margin-bottom: 40px !important;
}
.marginbot-50 {
  margin-bottom: 50px !important;
}
.home-section {
  padding-top: 110px;
  padding-bottom: 110px;
  display: block;
  position: relative;
  z-index: 120;
}
.section-heading h2 {
  font-size: 40px;
}
.section-heading i {
  margin-bottom: 20px;
}
/* --- section bg var --- */
.bg-white {
  background: #fff;
}
.bg-gray {
  background: rgba(133, 148, 173, 0.2);
}
.bg-dark {
  background: #575757;
}
/* --- section color var --- */
.text-light {
  color: #fff;
}
.intro {
  width: 100%;
  position: relative;
  background-color: rgba(15, 23, 36, 0.8);
}
.intro div {
  position: relative;
  z-index: 100;
}
.intro canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.intro .page-scroll {
  text-align: center;
  margin-bottom: 3em;
}
.intro .page-scroll img {
  box-shadow: 0 0 20px rgba(61, 92, 143, 0.9);
  transition: transform .2s;
  -webkit-transition: transform .2s;
}
.intro .page-scroll img:hover {
  box-shadow: 0 0 40px rgba(148, 171, 209, 0.9);
  transform: scale(1.1);
}
.intro .slogan {
  text-align: center;
  color: #fff;
}
.intro .slogan h2 {
  font-size: 3em;
  line-height: 3em;
  font-weight: 500;
  font-family: "Helvetica Neue", "Microsoft Yahei", "SimHei", Helvetica, Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
}
.intro .slogan h3 {
  font-size: 2em;
}
.intro .slogan a {
  color: #fff;
}
.intro .slogan a:hover {
  color: rgba(184, 199, 224, 0.4);
  text-shadow: 0 0 1px #fff;
}
#intro.intro {
  padding: 10% 0 0 0;
}
@media screen and (max-width: 768px) {
  #intro.intro {
    padding: 20% 0 0 0;
  }
  #intro.intro h2 {
    font-size: 3rem;
  }
}
.brand-heading {
  font-size: 40px;
}
.intro-text {
  font-size: 18px;
}
div.sign {
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
  background-color: rgba(184, 199, 224, 0.4);
  font-size: 3em;
  color: rgba(112, 143, 194, 0.9);
}
div.sign:hover {
  animation: jump .3s linear 2;
  -webkit-animation: jump .3s linear 2;
  -moz-animation: jump .3s linear 2;
}
@-ms-keyframes jumpie {
  from {
    -ms-transform: rotate(-15deg);
  }
  to {
    -ms-transform: rotate(30deg);
  }
}
@keyframes jump {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    opacity: 1;
  }
  25% {
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    opacity: .5;
  }
  50% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    opacity: 1;
  }
  75% {
    transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    opacity: .5;
  }
  100% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes jump {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    opacity: 1;
  }
  25% {
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    opacity: .5;
  }
  50% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    opacity: 1;
  }
  75% {
    transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    opacity: .5;
  }
  100% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    opacity: 1;
  }
}
@-moz-keyframes jump {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    opacity: 1;
  }
  25% {
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    opacity: .5;
  }
  50% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    opacity: 1;
  }
  75% {
    transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    opacity: .5;
  }
  100% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    opacity: 1;
  }
}
@-ms-keyframes jump {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    opacity: 1;
  }
  25% {
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    opacity: .5;
  }
  50% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    opacity: 1;
  }
  75% {
    transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    opacity: .5;
  }
  100% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    opacity: 1;
  }
}
.boxed-grey {
  background: rgba(199, 203, 209, 0.2);
  padding: 20px;
}
.inner ul li {
  margin-top: .5em;
}
.inner ul li.title {
  margin-bottom: 1em;
  margin-top: 1em;
  font-weight: bold;
}
.team h5 {
  margin-bottom: 10px;
}
.team p.subtitle {
  margin-bottom: 10px;
}
/*
.avatar {
    margin-bottom: 20px;

}

.team-social {
    margin-left: 0;
    padding-left: 0;

}

.team-social {
    text-align: center;
}

.team-social li{
    display: inline-block;
    margin:0 !important;
    padding:0;
}


.team-social a{
    margin:0;
    padding:0;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
    color: #fff;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.team-social a i{
    text-align: center;
    margin:0;
    padding:0;
}
.team-social .social-facebook a{background: #3873ae;}
.team-social .social-twitter a{background: #62c6f8;}
.team-social .social-dribble a{background: #d74980;}
.team-social .social-deviantart a{background: #8da356;}
.team-social .social-google a{background: #000;}
.team-social .social-vimeo a{background: #51a6d3;}
.team-social .social-facebook a:hover{background: #4893ce;}
.team-social .social-twitter a:hover{background: #82e6ff;}
.team-social .social-dribble a:hover{background: #f769a0;}
.team-social .social-deviantart a:hover{background: #adc376;}
.team-social .social-google a:hover{background: #333;}
.team-social .social-vimeo a:hover{background: #71c6f3;}
*/
.service-icon {
  margin-bottom: 20px;
}
/*
form#contact-form .form-group label {
    text-align: left !important;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
}
form#contact-form input,form#contact-form select,form#contact-form textarea {
    border-radius: 0;
    border: 1px solid #eee;
    -webkit-box-shadow: none;
    box-shadow:  none;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.input-group-addon {
    background-color: #fefefe;
    border: 1px solid #eee;
    border-radius: 0;
}

.widget-contact {
    text-align: left;
}


.company-social {
    margin-left: 0;
    padding-left: 0;
    margin-top: 10px;
}

.company-social {
    text-align: left;
}

.company-social li{
    display: inline-block;
    margin:0 !important;
    padding:0;
}


.company-social a{
    margin:0;
    padding:0;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
    color: #fff;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.company-social a i{
    text-align: center;
    margin:0;
    padding:0;
}

.company-social .social-facebook a{background: #3873ae;}
.company-social .social-twitter a{background: #62c6f8;}
.company-social .social-dribble a{background: #d74980;}
.company-social .social-deviantart a{background: #8da356;}
.company-social .social-google a{background: #000;}
.company-social .social-vimeo a{background: #51a6d3;}
.company-social .social-facebook a:hover{background: #4893ce;}
.company-social .social-twitter a:hover{background: #82e6ff;}
.company-social .social-dribble a:hover{background: #f769a0;}
.company-social .social-deviantart a:hover{background: #adc376;}
.company-social .social-google a:hover{background: #333;}
.company-social .social-vimeo a:hover{background: #71c6f3;}
*/
.inlineblock {
  overflow: hidden;
}
.inlineblock ul {
  position: relative;
  height: 12em;
  margin: 0 auto;
}
.inlineblock ul .imgItems {
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 1em;
  height: 12em;
  width: 15em;
}
.inlineblock ul .imgItems div {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 100%;
  left: 0;
  transition: top 0.2s linear;
  color: #fff;
}
.inlineblock ul .imgItems:hover div {
  top: 0;
}
footer {
  text-align: center;
  padding: 50px 0 ;
}
footer p {
  color: #f8f8f8;
}
.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 40px;
  color: #fff;
  background: 0 0;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: 0;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}
/* Media queries */
@media (min-width: 767px) {
  .navbar {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
    background-color: #000;
  }
  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .intro {
    height: 100%;
    padding: 0;
  }
  .brand-heading {
    font-size: 100px;
  }
  .intro-text {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  .team.boxed-grey {
    margin-bottom: 30px;
  }
  .boxed-grey {
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .navbar-custom .nav.navbar-nav {
    background-color: rgba(184, 199, 224, 0.4);
  }
  .navbar.navbar-custom.navbar-fixed-top {
    margin-bottom: 30px;
  }
  .tp-banner-container {
    padding-top: 40px;
  }
  .page-scroll a.btn-circle {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    padding: 7px 0;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
  }
}
